*{margin:0; padding: 0}*

body {
    font-size: 18px;
    color: black;
}


/*Barra de acessibilidade*/

#acessibilidade {
    width: 100%;
    font-size: 0.7em;
    background-color: #FEFEFE;
}

#atalhos {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    list-style: none;
}

#atalhos li {
    display: inline;
}

#atalhos li a {
    color: black;
    margin-left: 1%;
}

#atalhos li a:hover {
    color: blue;
}

#pgacess{
    padding-left: 35%;
}

.contraste, .fonte {
    padding-left: 0.5%;
}

/*Menu superior*/

nav {
    background-color: rgba(99, 1, 1, 1) /*rgba(232, 182, 2, 0.1)*/;
    height: 180px;
}

#logo-topo {
    width: 150px;
    height: auto;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

#menu-topo {
    padding-left: 25%;   
}

#menu-topo li {
    display: inline-block;
    margin-top: 9%;
    margin-left: 1%;
}

#menu-topo a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: rgba(232, 182, 2, 0.836) /* rgba(99, 1, 1, 1)*/;
}


/*Conteúdo principal - INDEX*/
main {
    background-color: white;
    text-align: center;
    padding: 2%;
}

h1 {
    text-align: left;
    margin-bottom: 2%;
}

h2 {
    text-align: left;
}

p {
    text-align: left;
    font-size: 1.2em;
    line-height: 1.6em;
    padding-left: 1%;
}

#banner {
    width: 40%;
    height: auto;
}

#banner-quemsomos{
    width:100%;
    height: auto;
}

#banner-modalidades {
    width: 100%;
    min-height: auto;
    z-index: -1;
}

#banner-campeonatos {
    width: 100%;
    height: auto;
}

#main-modalidades {
    margin: 0;
    padding: 0;
}

#main-quemsomos {
    margin: 0;
    padding: 0;
    text-align: center;
}

#main-campeonatos {
    margin: 0;
    padding: 0;
}

.titulo {
    color: rgba(99, 1, 1, 1);
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 73%;
    background-color: rgba(229, 229, 229, 0.432);
    width: 100%;
    line-height: 1.5em;
}

#main-quemsomos .titulo {
    left: 0;
    top: 60.7%;
}

#main-campeonatos .titulo {
    top: 74%;

}


/*media query do titulo*/
@media screen and (max-width: 1366px) {
    .titulo {
        top: 82%;
    }
    #main-quemsomos .titulo {
        top: 68%;
    }
    #main-campeonatos .titulo {
        top:73%;
    }
}

#subtitulo {
    text-align: left;
    padding-left: 1%;
}



/*Mural - INDEX*/

#caixa-mural {
  margin-top: 2%;
  margin-left: 12%;
  width: 80%;
}

.quadro-mural {
    width: 85%;
    display: inline-block;
    padding: 2%;
}

#mural {
    width: 20%;
    display: inline-block;
    margin: 1%;
}
   
#mural li {
    width: 100%;
    list-style: none;
    display: block;
    text-align: justify;
}


.box-imagem {
    width: 100%; 
    height: 240px;
}

/*Rodapé*/
footer {
    text-align: center;
    clear:left;
    padding-top: 2%;
    background-color: rgba(99, 1, 1, 1);
    color: white;
}

footer p {
    text-align: center;
}

#ico {
    padding-right: 12%;
    float: right;
}

#ico-facebook, #ico-instagram, #ico-email {
    width: 52px;
    height: auto;
}

#ico-instagram {
    padding-left: 8px;
}

#ico-localizacao {
    width: 28px;
    height: auto;
}

#ico-localizacao, #ico-email {
    display: inline-block;
}
#localizacao p, #email p {
    display: inline-block;
}

#localizacao, #email, #ico {
    display: block;
}

#email {
    padding-left: 20%;
    padding-top: 1%;
    padding-bottom: 2%;
}

#localizacao p{
    margin-bottom: 1%;
    vertical-align: bottom;
}

#email p {
    vertical-align: super;
}


/*breadcrumbs*/

.breadcrumb {
    list-style: none;    
    text-align: left;
    padding-bottom: 1%;
    padding-left: 1%;
}

.breadcrumb li {
    display: inline;    
    font-size: 1em;
    color:rgb(78, 0, 0);
}

#main-modalidades .breadcrumb {
    text-align: center;
    text-transform: uppercase;
}

.breadcrumb li a {
    color: black;
    text-decoration: none;
}

.breadcrumb li+li:before{
    content: "/\00a0";
    padding: 6px;
}

.breadcrumb li a:hover{
    text-decoration: underline;
}

/*Mural - MODALIDADES*/

#main-modalidades p {
    text-align: center;
    padding-bottom: 1%;
}

#caixa-mural-modalidades {
  margin-top: 2%;
  margin-left: 20%;
  padding: 1% 2% 2% 1%;
  width: 60%;
}

.quadro-mural-modalidades {
    width: 85%;
    display: inline-block;
    padding: 2%;
}

#mural-modalidades{
    width: 20%;
    display: inline-block;
    margin-left: 3%;
    margin-bottom: 4%;
    box-shadow: 13px 13px 0px -4px rgba(99, 1, 1, 1); /* box-shadow: eixoX eixoY blur intensidade Cor*/ 
}
   
#mural-modalidades  li{
    width: 100%;
    list-style: none;
    display: block;
    font-weight: bold;
    padding-bottom: 10%;
    background-color: #E5E5E5;
}

#mural-modalidades:hover {
    transform: scale(1.1);
    transition: 1s;
}


.box-imagem-modalidades {
    width: 100px;
    height: 120px; 
    padding-top: 6%;
}


/* Media query da breadcrumb*/
@media screen and (max-width: 630px){
    .breadcrumb{
        text-align: center;
        text-transform: uppercase;
    }
}


/* Media query do conteúdo*/
@media screen and (max-width: 630px){
        body{
            font-size: 1em;
        }
        .titulo {
            display: inline;
            position: unset;
            background-color: unset;
            font-size: 2em;
        }
        #banner-modalidades {
            z-index: 1;
            position: relative;
            display: inline-block;
            height: 180px;
        }
        p {
            padding-left: 0%;
            text-align: justify;
        }
        .p-modalidades {
            text-align: justify;
            width: 68%;
            font-size: 1em;
            padding-left: 18%;
        }
       
        #caixa-mural-modalidades {
          margin-top: 4%;
          margin: 0;
          padding: 0;
          width: 100%;
        }
        #mural-modalidades{
            width: 40%;
            margin-bottom: 8%;
            margin-top: 5%;
        }
        .box-imagem-modalidades {
            width: 70px;
            height: 90px; 
            padding-top: 8%;
        }
        h1 {
            text-align: center;
        }
        #caixa-mural{
            width: 100%;
            padding: 0;
            margin: 0;
        }
        #quadro-mural{
            width: 95%;
        }
        #mural{
        width: 100%;
        }
        .box-imagem{
            height: 250px;
        }
        
}

/* Media query do rodapé*/
@media screen and (max-width: 630px){
    footer {
        width: 100%;
        display: inline-block;
        padding: 8% 0;
    }
    footer p {
        display: none;
    }
    #ico-facebook, #ico-instagram, #ico-email, #ico-localizacao {
        float: none;
        display: inline-block;
        padding: 0 0 0 16px;
        margin: 0;
    }
    #localizacao, #ico, #email{
        display: inline-block;
        float: none;
    }
    #localizacao{
        padding: 0;
        margin: 0;
    }
    #email{
        padding: 0;
        margin: 0;
    }
    #ico {
        padding: 0;
        margin: 0;
    }
    #ico-facebook, #ico-instagram {
        width: 52px;
        height: auto;
    }
    #ico-email {
        width: 52px;
        height: 48px;
    }
    #localizacao p, #email p {
        display: none;
    }
}


/*menu responsivo*/

label [for="bt_menu"]{
    display: none;
}

#bt_menu{
    display: none;
}
#dropdown {
    width: 32px;
    display: none;
}


/*media query menu responsivo*/

@media screen and (max-width:630px) {
    #logo-topo {
        display: inline-block;
        float: none;
        width: 120px;
        height: auto;
        padding-left: 30%; 
        padding-right: 30%;   
    }
    header{
        background-color: rgba(99, 1, 1, 1);
    }
    #menu-topo{
        display: none;
        padding-left: 0;
    }
    nav {
        height: auto;
        padding-bottom: 4%;
    }
    #dropdown{
        display: block;
        position: relative;
        padding-bottom: 1%;
    }
    label[for="bt_menu"]{
        display: block;
    }
    #bt_menu:checked ~ #menu-topo {
        display: inline-block;
    }
    #menu-topo ul{
        display: block;
        padding: 0;
        margin: 0;
        border: 0;
    }
    #menu-topo li {
        position: relative;
        float: left;
        width: 98%;
        border: 2px solid #FEFEFE;
        text-align: center;
        padding: 0;
        margin: 0 2px;
    }

   /* #menu-topo li ul {
        position: relative;
        width: 100%;
        border: none;
 
    }
    #menu-topo li ul li{
        position: relative;
        width: 100%;
        margin: 0;
        float: left;
        display: block;
        margin-left:4%;
        border: none;
    }
    */
     
}

/* media query da barra de acessibilidade*/

@media screen and (max-width: 1440px) { 
    #pgacess{
        padding-left: 35%;
    }
}

@media screen and (max-width: 1280px) {
    #pgacess{
        padding-left: 29%;
    } 
}

@media screen and (max-width: 1024px) {
    #pgacess{
        padding-left: 18%;
    } 
}

@media screen and (max-width: 800px) {
    #pgacess{
        padding-left: 1%;
    } 
}

@media screen and (max-width: 630px){
    #atalhos{
        font-size: 0.8em;
        padding: 0;
        text-align: center ;
    }
    ul#atalhos li{
       display: none;
     }

     ul#atalhos li#pgacess {
         display: inline;
     }

     ul#atalhos li.contraste {
         display: inline;
     }
     ul#atalhos li.fonte{
         display: inline;
     }

}   

/*CAMPEONATOS*/

#main-campeonatos p {
    text-align: center;
}

#main-campeonatos .breadcrumb {
    text-align: center;
}

/*QUEM SOMOS*/
#historia{
    width: 40%;
    padding-left: 30%;
    padding-top: 2%;
    font-size: 0.95em;
}

#historia p {
    text-align: justify;
}

#historia h1 {
    text-align: center;
}

#main-quemsomos .breadcrumb {
    text-align: center;
    padding: 0;
    margin: 0;
}

#historia-logos {
    padding-top: 2%;
    width: 100%;
}

#historia-logos h1 {
    text-align: center;
}

.logo-evolucao{
    width: 14%;
    height: auto;
}

#gestao {
    width: 80%;
    padding-top: 4%;
}

#gestao h1 {
    text-align: center;
}

#gestao h2, h3, h4 {
    text-align: left;
    font-size: 00.95em;
    padding-left: 2%;
}

.membro {
    padding-bottom: 1%;
}

#diretoria {
    width: 44%;
    height: auto;
    float: left;
    padding: 0 2% 8% 28%;
}












/*
amarelo: rgba(232, 182, 2, 0.836);
vermelho: rgba(99, 1, 1, 1)

*/