*{margin:0; padding: 0}*

body {
    font-size: 18px;
    color: black;
}


/*Barra de acessibilidade*/

#acessibilidade{
    width: 100%;
    font-size: 0.7em;
    background-color: #e0ded9;
}

#atalhos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    list-style: none;
}

#atalhos li{
    display: inline;
}

#atalhos li a{
    color: black;
    margin-left: 1%;
}

#atalhos li a:hover{
    color: blue;
}

#pgacess{
    padding-left: 35%;
}

.contraste, .fonte{
    padding-left: 0.5%;
}

/*Menu superior*/

nav {
    background-color: rgba(99, 1, 1, 1) /*rgba(232, 182, 2, 0.1)*/;
    height: 165px;

}

#logo-topo {
    width: 150px;
    height: auto;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
}

#menu-topo {
    padding-left: 25%;
    
}

#menu-topo li{
    display: inline-block;
    margin-top: 9%;
    margin-left: 1%;
}

#menu-topo a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: rgba(232, 182, 2, 0.836) /* rgba(99, 1, 1, 1)*/;
}


/*Conteúdo principal*/
main {
    background-color: white;
    text-align: center;
    padding: 2%;
}

#banner {
    width: 40%;
    height: auto;
}

/*Mural*/
h1 {
    text-align: left;
    margin-bottom: 2%;
}

h2 {
    text-align: left;
}

p {
    text-align: left;
    font-size: 1.2em;
    line-height: 1.6em;
}


#caixa-mural {
  border: solid 1px black;
  margin: 2%;
  width: 80%;
  padding-left: 10%;
  overflow-x: scroll;
}

.quadro-mural {
    border: solid 1px blue;
    width: 85%;
    display: flex;
    padding: 2%;

}

#mural ul {

   }
   
#mural li{
    width: 90%;
    list-style: none;
    display: block;
    border: solid 1px red;
    padding: 0 30px 0 30px;
    
}


.box-imagem {
    width: 200px;
    height: 200px;
}

/*Rodapé*/
footer {
    text-align: center;
    clear:left;
    padding-top: 2%;
    background-color: rgba(99, 1, 1, 1);
    color: white;
}

footer p {
    text-align: center;
}

#ico {
    padding-right: 12%;
    float: right;
}

#ico-facebook, #ico-instagram, #ico-email {
    width: 52px;
    height: auto;
}
#ico-instagram{
    padding-left: 8px;
}
#ico-localizacao {
    width: 28px;
    height: auto;
}

#ico-localizacao, #ico-email{
    display: inline-block;
}
#localizacao p, #email p{
    display: inline-block;
}


#localizacao, #email, #ico {
    display: block;
}

#email {
    padding-left: 20%;
    padding-top: 1%;
    padding-bottom: 2%;
}

#localizacao p{
    margin-bottom: 1%;
    vertical-align: bottom;
}

#email p {
    vertical-align: super;
}




/*breadcrumbs*/

.breadcrumb {
    list-style: none;    
    text-align: left;
    padding-bottom: 1%;
}

.breadcrumb li {
    display: inline;    
    font-size: 1em;
    color:rgb(78, 0, 0);
}

.breadcrumb li a {
    color: black;
    text-decoration: none;
}

.breadcrumb li+li:before{
    content: "/\00a0";
    padding: 6px;
}

.breadcrumb li a:hover{
    text-decoration: underline;
}
